{% extends 'home.html' %}


{% block title %}
    Create an account
{% endblock %}

{% block content %}
    <div class="log">
        <h1 id="text_login">Sign up</h1>
            <div id="signup">
                <form id="label" method="post">
                    {{ user_form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="account1">
                    </div>
                    <p id="btn">
                        <input class="button" type="submit" value="Log in">
                    </p>
                </form>
            </div>
    </div>
{% endblock %}