* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(42, 40, 40);
  display: flex;
  justify-content:
  space-between;
  align-items: center;
  padding: 0 8%;
}

header .logo {
  font-size: 20px;
  font-weight: 900;
  color: white;
  transition: .4s;
}

header .logo:hover {
  transform: scale(1.2);
  color:  rgb(237, 138, 138);
}

header nav ul li {
  position: relative;
  float: left;
  transition: .2s;
}

header nav ul li a {
  padding: 15px;
  color: white;
  font-size: 16px;
  display: block;
  transition: .2s;
}

header nav ul li a:hover {
  background-color: rgb(237, 138, 138);
  color: rgb(152, 10, 10);
}

nav ul li ul {
  position: absolute;
  left: 0;
  width: 180px;
  color: white;
  background-color: rgb(42, 40, 40);
  display: none;
}

nav ul li ul li {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .10);
}

nav ul li ul li:hover {
  width: 100%;
  border: 1px solid rgb(152, 10, 10);
}

nav ul li:hover > ul {
  display: initial;
}


.log {
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
  margin-left: 540px;
  margin-top: 140px;
}

#signup {
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}


#btn {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

#text_login {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(152, 10, 10);
}

.btn1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(152, 10, 10);
}

.btn1:hover {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(24, 92, 219);
}

.button {
  background-color: rgb(152, 10, 10);
  border: 1px solid rgb(213, 136, 136);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family:'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
  text-align: center;
  transition: .2s;
}

.button:hover {
  color: rgb(152, 10, 10);
  border: 1px solid rgb(152, 10, 10);
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
}

#signup {
  color: rgb(213, 136, 136);
}

#signup:hover {
  color: rgb(152, 10, 10);
}

.reggg {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.account1 {
  font-size: 20px;
  padding-top: 20px;
}

#icon {
  height: 230px;
  width: 230px;
}

.container {
  margin: 80px 5% 0 5%;
  column-count: 4;
  column-gap: 10px;
  width: 90%;
}

.postimg {
  transition: 0.3s;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.postimg:hover{
  overflow: hidden;
  transform: scale(1.03);
  opacity: 70%;
}


.base {
  text-align: center;
  padding-top: 220px
}

.base1 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(152, 10, 10);
  font-size: 50px;
  text-align: center;
}

.base12 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(152, 10, 10);
  font-size: 50px;
  text-align: center;
}

.base13 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(152, 10, 10);
  font-size: 50px;
  text-align: center;
}

.base2 {
  font-size: 25px;
  font-weight: 300;
  padding-top: 30px;
}

.base21 {
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 30px;
}

.desc {
  color: rgb(0, 0, 0);
}

#loginout1 {
  text-align: center;
  padding: 10px;
  padding-top: 170px;
  font-size: 32px;
}

.post_detail {
  margin: 100px 5% 100px 5%;
  text-align: center;
}


.postimg1 {
  border-radius: 20px;
  transition: 0.3s;
  width: 400px;
  height: 600px;
  margin-right: 1200px;
}

.postimg1:hover{
  transform: scale(1.03);
  opacity: 90%;
}



.post_detail h4 {
  padding-top: 8px;
  width: 20px;
  color: #573b8a;
  font-family: 'Ubuntu', sans-serif; font-weight:normal;
}



.post_detail h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600px;
  color: rgb(0, 0, 0);
  font-size: 36px;
  margin-right: 400px;
  margin-top: -600px;
}

.post_detail p {
  padding: 20px;
  color: rgb(152, 10, 10);
  margin-right: 440px;
  margin-top: 0px;
}