{% extends 'home.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-bottom: 100;
        }
    
        h1 {
            margin: 0;
        }
    
        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
        }
    
        img {
            max-width: 100%;
            height: auto;
        }
    
        p {
            line-height: 1.5;
        }
        </style>
    </head>
    <body>
    
        <main>
        <h2>About me</h2>
        <p>Привет! Меня зовут [Ваше имя]. Я являюсь [должность или специализация]. У меня есть опыт работы в [область деятельности] и умения в [технологии или навыки]. Я стремлюсь к постоянному развитию и созданию качественных проектов.</p>
    
        <h2>Проекты</h2>
        <ul>
            <li>
            <h3>Название проекта 1</h3>
            <p>Описание проекта 1.</p>
            </li>
            <li>
            <h3>Название проекта 2</h3>
            <p>Описание проекта 2.</p>
            </li>
            <li>
            <h3>Название проекта 3</h3>
            <p>Описание проекта 3.</p>
            </li>
        </ul>
    
        <h2>Контакты</h2>
        <p>Вы можете связаться со мной по электронной почте: [ваша электронная почта].</p>
        </main>
    </body>
    </html>
{% endblock %}