{% extends 'home.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-bottom: 100;
        }
        h2 {
            margin-top: 100px;
            padding: 20px;
            margin-left: 700px;
        }
        a {
            color: black;
        }
        a:hover {
            color: rgb(0, 102, 255);
        }
        p {
            margin-left: 560px;
        }
        h1 {
            margin-left: 350px;
        }
        </style>
    </head>
    <body>
    
        <main>
        <h2>About me</h2>
        <h1>Привет! Меня зовут Тимур. Я являюсь backend developer.</h1>
        <h1>У меня есть опыт работы в python и умения в Django.</h1>
        <h1></h1>
    
        <h2>Контакты</h2>
        <h1>Вы можете связаться со мной с помощью telegram <a href="https://t.me/Zeniiixxx">нажми сюда</a></h1>
        </main>
    </body>
    </html>
{% endblock %}