{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        {% block title %}
            Portfolio
        {% endblock title %}
    </title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <span class="user">
                {% if request.user.is_authenticated %}
                    <nav>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'create' %}">Create</a></li>
                            <li><a href="{% url 'post' %}">Posts</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <p style="padding-left: 1250px; padding-top: 10px; color: white;">Hello {{ request.user.first_name | default:request.user.username }}</p>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </nav>
                {% else %}
                    <nav>
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'create' %}">Create</a></li>
                            <li><a href="{% url 'post' %}">Posts</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a id="sign_up" href="{% url 'register' %}">Sign up</a></li>
                            <li><a id="sign_up" href="{% url 'login' %}">Sign in</a></li>
                        </ul>
                    </nav>
                {% endif %}
            </span>
        </header>
        {% block content %}
            {% for post in posts %}
                <div class="container">
                    <a href="{{post.id}}/"><img class="postimg" src="{{ post.image.url }}" alt="post"/></a>
                </div>
            {% endfor %}
        {% endblock %}
    </div>  
</body>
</html>